@model List<Category>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <th>@item.Name</th>
                <td><partial name="Crud-Btns" model="item" /></td>
            </tr>
        }
    </tbody>
</table>